/* btn */
.btn1 {
    padding: 10px;
    border-radius: 10px;
    background-color: #88e1fb;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.btn2 {
    padding: 10px;
    border-radius: 10px;
    background-color: #f4c87c;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.btn3 {
    padding: 10px;
    border-radius: 10px;
    background-color: #e38587;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.btn4 {
    padding: 10px;
    border-radius: 10px;
    background-color: #a557f9;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.btn5 {
    padding: 10px;
    border-radius: 10px;
    background-color: #84b3fc;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

.btn6 {
    padding: 10px;
    border-radius: 10px;
    background-color: #d270a6;	
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

/* block */
.block1 {
	background-color: #88e1fb;	
	width: 90%;
	height: 30px;
	border-radius: 5px;
}

.block2 {
	background-color: #f4c87c;	
	width: 90%;
	height: 30px;
	border-radius: 5px;
}

.block3 {
	background-color: #e38587;	
	width: 90%;
	height: 30px;
	border-radius: 5px;
}